.container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 1200px;
}

ul.menu {
  margin: 0px;
  padding: 16px 0px;
}

ul.menu li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
}

ul.menu li a {
  display: inline-block;
  padding: 8px;
}

ul.menu li a:hover {
  opacity: 0.5;
}

ul.menu li a.menu_item {
  color: #4cc0b6;
}

ul.menu li a.sign_up {
  border: 1px solid gray;
  border-radius: 16px;
}
