@font-face {
    font-family: DM Serif Display, serif;
    src: url('https://fonts.googleapis.com/css2? family = DM + Serif + Display: ital @ 1 & display = swap');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url ('https://fonts.googleapis.com/css2? family = DM + Serif + Display: ital @ 1 & family = Roboto: wght @ 300 & display = swap');
}


.tituloApoio {
    text-align: center;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;    
}

.container {
   display: flex;
   justify-content: center;
   align-items: stretch;
}

.containerTxt {
    margin-right: 32px;
}

.subTituloApoio {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.textoApoio {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #7A7A7A;
}

.link {
    display:inline;
}

.linkApoio {   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #4CC0B6;
}

.imgVoluntario {
   border-radius: 16px;
}

.voluntarios {      
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: bolder;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-right: 32px;
}

.voluntarios p {
    margin: 4px;
}

.context {
    display: flex;
    align-items: center;
}
